.fa-default{
    background-image: url("/static/img/category_icons/default.png");
}
.fa-python{
    background-image: url("/static/img/category_icons/python.png");
}
.fa-csharp{
    background-image: url("/static/img/category_icons/csharp.png");
}

.fa-php{
    background-image: url("/static/img/category_icons/php.png");
}

.fa-html{
    background-image: url("/static/img/category_icons/html.png");
}
