.nav-topic{
    font-weight: bold;
    color: cornflowerblue;
}
.navigation a:visited{
    color: blue;
}

.post{
    display: flex;
    border: 1px solid gray;
    border-radius: 4px;
    border-left: none;
    box-shadow: gray 1px 1px 1px;
    margin-bottom: 15px;
    background: white;
    min-height: 350px;
}
.p-info{
    flex: 1;
    background: aliceblue;
    border-left: 1px solid gray;
    border-radius: 4px;
    padding-bottom: 15px;
}
.p-body{
    flex: 7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    margin: 2px 2px 2px 0;
}
.p-body-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.p-body-header div{
    flex: 1;
}
.p-body-header div:first-child{
    font-size: 15px;
    color: gray;
}
.p-body-header div:last-child{
    text-align: right;
}
.p-body-content{
    flex-basis: 100%;
    padding: 15px;
    word-break: break-word;
}
.last-edit{
    font-style: italic;
    font-size: 15px;
    color: gray;
    text-align: right;
}
.p-rating{
    font-size: 30px;
    color: gray;
}

.p-user-img{
    margin: 15px;
}
.p-info div:nth-child(2), .p-info div:nth-child(3){
    text-align: center;
}
.p-info div:nth-child(3){
    margin-bottom: 13px;
}
.p-info div:nth-child(4){
    margin-bottom: 10px;
}
.p-info div:nth-child(5){
    margin-bottom: 10px;
}
.p-info div:nth-child(4),.p-info div:nth-child(5),.p-info div:nth-child(6){
    margin-left: 15px;
}

.fa{
    background-size: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.p-body-header a{
    text-decoration: none;
    color: blue;
}
.p-body-header a:visited{
    color: blue;
}
.p-body-header a:hover{
    text-decoration: underline;
}

.p-user-link{
    color: dodgerblue;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    word-break: break-word;
}

.fa-b-up{
    background-image: url("/static/img/icons/green_up.png");
}
.fa-b-down{
    background-image: url("/static/img/icons/red_down.png");
}
.fa-reg{
    background-image: url("/static/img/icons/reg.png");
}
.fa-posts{
    background-image: url("/static/img/icons/posts.png");
}
.fa-rating{
    background-image: url("/static/img/icons/rating.png");
}

.prop-i{
    display: inline-block;
    width: 22px; height: 22px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
}
.prop-v{
    vertical-align: super;
}

.btn-vote{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    display: inline;
    vertical-align: super;
}
.btn-vote-user{
    vertical-align: inherit;
}

pre.rainbow-show{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
}
pre.rainbow-show span, pre.rainbow-show code{
    font-size: 16px;
    font-family: 'Monaco', 'Menlo', courier, monospace;
}

pre.rainbow-show{
    max-height: 300px;
    width: 1000px;
    overflow: scroll;
}

.post-image{
    max-height: 350px;
    padding: 15px 10px 15px 0;
}

blockquote{
    border-left: 3px solid darkblue;
    margin-left: 10px;
    padding: 10px 20px;
}

.post-add{
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: gray 1px 1px 1px;
    margin-bottom: 50px;
    background: white;
}
.post_add-btn{
    transition: color, background-color, .2s ease;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    background: crimson;
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    width: 200px;
}
.post_add-btn:hover{
    transition: color, background-color, .2s ease;
    background: aliceblue;
    color: black;
    cursor: pointer;
}
.p-a-b-block{
    display: flex;
    flex-direction: row-reverse;
}

.c-footer{
    display: flex;
    justify-content: space-between;
}
.c-footer>div:last-child{
    padding-top: 10px;
}