<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/ico">
    {% if css is defined %}
        {{ css | safe }}
    {% endif %}
    <title>{{ title }}</title>
</head>
<body>
<header>
    <div class="header-title">
        <div class="header-text"><a href="/index">VN Forum</a></div>
        <div class="header-desc">Форум для программистов</div>
    </div>
    <div class="auth">
        {% if current_user.is_authenticated %}
            <a class="header-link" style="cursor: pointer" id="profile-btn">{{ current_user.nickname }}</a>
            {% include "_profile_popup.html" %}
        {% else %}
            {% block auth %}{% endblock %}
        {% endif %}
    </div>
</header>
<nav class="menu">
    <menu>
        <li><a href="/index" class="header-link menu-link">Форум</a></li>
        <li><a href="/information" class="header-link menu-link">Информация</a></li>
        <li><a href="/search" class="header-link menu-link">Поиск</a></li>
    </menu>
</nav>

<div class="main-content">
    {% block content %}{% endblock %}
</div>

{% block pagination %}{% endblock %}

{% if js is defined %}
    {{ js | safe }}
{% endif %}
</body>
</html>