{% extends "base.html" %}

{% block auth %}
    <a href="/login" class="header-link">Вход</a>
    <a href="/register" class="header-link">Регистрация</a>
{% endblock %}

{% block content %}
    <h2>Категории:</h2>
    {% if current_user.is_authenticated and current_user.is_admin() %}
        <a class="flat-button category_new-btn" href="/admin/category_add">Новая</a>
    {% endif %}

    {% for cat in cats %}
        <div class="category">
            <div class="category-icon">
                <i class="fa {{ cat.icon }}"></i>
            </div>
            <div class="category-desc">
                <a href="category/{{ cat.id }}" class="category-link">{{ cat.title }}</a>
                <p>
                    {{ cat.description }}
                </p>
            </div>
            <div class="category-counter">
                <p>Темы</p>
                <p>{{ cat.topics | length }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
