{% extends "base.html" %}

{% block content %}
    <div style="background: white;
                padding: 20px">
        <h2>Информация о форуме:</h2>
        <p>
            Форум предназначен для общения программистов и представляет собой простой аналог киберфорума.
        </p>

        <p>
            По желанию, его можно опубликовать на публику, при чём конструкция универсальна и подойдёт под любую
            тематику
            форума.
        </p>

        <p>
            <strong>Ссылка на github</strong>:
            <a href="https://github.com/VNCompany/vnforum" target="_blank">https://github.com/VNCompany/vnforum</a>
        </p>

        <p>
            <strong>Разработчик</strong>: Незнанов Виктор Сергеевич. Город Тамбов.
        </p>

        <h1>API:</h1>
        <h3>Форум предполагает ещё и свою небольшую систему API.</h3>

        <h3>1. Получение ключа для работы с API:</h3>
        <p>
            Для работы с api вы должны быть зарегистрированы в системе и иметь ключ
            api. Найти его можно у себя в профиле или получить посредством отправки запроса на сервер.
        </p>
        <p>Пример:</p>
        <pre>
            <code>
                curl -X POST http://vncompany.ru/api/token_get -d "{\"login\": \"ваш логин\", \"password\": \"ваш пароль\"}"
            </code>
        </pre>
        <p>Ответ:</p>
        <pre>
            <code>
                {"api_key":"ваш api ключ","status":"ok"}
            </code>
        </pre>

        <h3>2. Получение информации о пользователе:</h3>
        <pre>
            <code>
                http://vncompany.ru/api/user_get?api=ваш_api&nickname=никнейм_пользователя
            </code>
        </pre>

        <h3>3. Получение информации о топике:</h3>
        <pre>
            <code>
                http://vncompany.ru/api/topic_get?api=ваш_api&topic_id=id_топика
            </code>
        </pre>
    </div>
{% endblock %}
