{% extends "base.html" %}

{% block content %}
    <p class="navigation"><a href="#">Python</a> > <span
            class="nav-topic">Как сделать шипучку в домашних условиях</span></p>
    <h2>Обсуждение:</h2>

    <div class="posts">
        <div class="post">
            <div class="p-info">
                <div class="p-user-img"><img width="128" height="128" src="/uploads/profiles/default.jpg" alt="victor">
                </div>
                <div><a class="p-user-link" href="#">Artem4ik Gamer Pro</a></div>
                <div><span style="color: red">Заблокирован</span></div>
                <div class="p-prop">
                    <span class="prop-i fa-reg"></span>
                    <span class="prop-v">23.03.2020</span>
                </div>

                <div class="p-prop">
                    <span class="prop-i fa-posts"></span>
                    <span class="prop-v">9999</span>
                </div>

                <div class="p-prop">
                    <span class="prop-i fa-rating"></span>
                    <span class="prop-v" style="vertical-align: top">
                        <button id="vu-1" class="btn-vote-user btn-vote prop-i fa-b-up"></button>
                        <span id="vv-1" class="prop-v">17</span>
                        <button id="vd-1" class="btn-vote-user btn-vote prop-i fa-b-down"></button>
                    </span>
                </div>
            </div>
            <div class="p-body">
                <div class="p-body-header">
                    <div>28.08.2020 18:10</div>
                    <div><a href="#">#1</a></div>
                </div>
                <div class="p-body-content">
                    <p>geporigjotijrotihjrot</p>
                    <p>geporigjotijrotihjrot</p>
                    <p>geporigjotijrotihjrot</p>
                    <p>geporigjotijrotihjrot</p>
                    <p>geporigjotijrotihjrot</p>
                    <p>geporigjotijrotihjrot</p>
                    <p>geporigjotijrotihjrot</p>
                    <p>geporigjotijrotihjrot</p>
                    <p>geporigjotijrotihjrot</p>
                    <p>geporigjotijrotihjrot</p>
                </div>
                <div class="last-edit">Последнее редактирование: 28.09.2020</div>
                <div title="Рейтинг" class="p-rating">
                    <button id="pvu-1" class="btn-vote-post btn-vote prop-i fa-b-up"></button>
                    <span id="pr-1" class="p-rating">17</span>
                    <button id="pvd-1" class="btn-vote-post btn-vote prop-i fa-b-down"></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}