{% extends "base.html" %}

{% block auth %}
    <a href="/login" class="header-link">Вход</a>
    <a href="/register" class="header-link">Регистрация</a>
{% endblock %}

{% block content %}
    <h2>{{ cat.title }}:</h2>
    {% if current_user.is_authenticated and not current_user.is_banned() %}
        <a class="flat-button topic_new-btn" href="/topic_add?category={{ cat.id }}">Новая тема</a>
    {% endif %}

    {% if topics|length > 0 %}
        <div class="li-topics">
            {% for topic in topics %}
                <div class="topic">
                    <div class="topic-icon">
                        <img src="/uploads/profiles/{{ topic.user.avatar }}" width="55" height="55"
                             alt="{{ topic.user.nickname }}">
                    </div>
                    <div class="topic-desc">
                        <div class="topic-link">
                            {% if topic.is_closed %}
                                <span style="color: red">Закрыта</span>
                            {% elif not topic.is_writeable %}
                                <span style="color: green">Только чтение</span>
                            {% endif %}
                            <a href="/topic/{{ topic.id }}">
                                {{ topic.short_title(67) }}
                            </a>
                        </div>
                        <p>
                            Автор: {{ topic.user.get_name() | safe }}
                        </p>
                    </div>
                    <div class="topic-counter">
                        <p>Сообщения</p>
                        <p>{{ topic.posts|length }}</p>
                    </div>
                    <div class="topic-first-message">
                        <p>Дата создания</p>
                        <p>{{ topic.date.strftime("%d.%m.%Y %H:%M") }}</p>
                    </div>
                    <div class="topic-last-message">
                        <p>Последнее</p>
                        <p>
                            {% if topic.posts|length > 0 %}
                                {{ topic.get_last_post().last_date.strftime("%d.%m.%Y %H:%M") }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ pagination_string | safe }}
    {% else %}
        <h1>Записей нет</h1>
    {% endif %}
{% endblock %}
