{% extends "base.html" %}

{% block head_connections %}
    <script src="https://cdn.tiny.cloud/1/08nfb0rf2nxt0okfs6lv8f05zqidetitvfzmdh3eokrvqf3e/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
{% endblock %}

{% block content %}
    <div class="uni-form">
        <h2>{{ title }}</h2>
        {% if error is defined %}
            <div class="input-error">{{ error }}</div>
        {% endif %}
        <form method="post" enctype="multipart/form-data" id="topic_add-form">
            {{ form.hidden_tag() }}
            <div>
                {{ form.title.label }}
                {{ form.title() }}
            </div>
            {% for error in form.title.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <div>
                <p>{{ form.tags.label }}</p>
                {{ form.tags() }}
            </div>
            {% for error in form.tags.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <div>
                <p>{{ form.category.label }}</p>
                {{ form.category() }}
            </div>
            {% for error in form.category.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <p>
                <label class="disable-block">
                    {{ form.is_writeable() }}
                    Разрешить комментирование
                </label>
            </p>
            {% for error in form.is_writeable.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <div>
                <p>{{ form.content.label }}</p>
                {{ form.content() }}
            </div>
            {% for error in form.content.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <p>
                {% if submit is defined %}
                    <input type="button" class="flat-button submit-btn" value="{{ submit }}" id="submit-form-button">
                {% else %}
                    <input type="button" class="flat-button submit-btn" value="Создать" id="submit-form-button">
                {% endif %}
            </p>
        </form>
    </div>

    <script>
        tinyMCE.init({
            selector: 'textarea',
            menubar: false,
            statusbar: false
        });
    </script>
{% endblock %}
